<configuration scan="true" scanPeriod=" 5 seconds" debug="false">
    <jmxConfigurator/>

    <property name="LOG_PATH" value="${trade.log.home}"/>
    <property name="APP_NAME" value="timeout-center" />

    <!--业务日志输出格式-->
    <property name="SERVICE_OUTPUT_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{TRACE_ID}] %-5level %logger{15} - %msg%n" />

    <!--框架日志输出格式-->
    <property name="FW_OUTPUT_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - %msg%n" />

    <!--日志文件保留最大天数-->
    <property name="MAXDAY" value="10"/>

    <!--日志文件滚动阈值-->
    <property name="MAXSIZE" value="100MB"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${OUTPUT_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="BUSINESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/trade.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_PATH}/timeout-center-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>${MAXSIZE}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${MAXDAY}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${SERVICE_OUTPUT_PATTERN}</pattern>
        </encoder>
    </appender>

    <!--<appender name="BUSINESS_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<File>${LOG_PATH}/trade_err.log</File>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--&lt;!&ndash; rollover daily &ndash;&gt;-->
            <!--<fileNamePattern>${LOG_PATH}/trade_err-%d{yyyy-MM-dd}-%i.log.gz-->
            <!--</fileNamePattern>-->
            <!--<timeBasedFileNamingAndTriggeringPolicy-->
                    <!--class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
                <!--&lt;!&ndash; or whenever the file size reaches 100MB &ndash;&gt;-->
                <!--<maxFileSize>100MB</maxFileSize>-->
            <!--</timeBasedFileNamingAndTriggeringPolicy>-->
            <!--<maxHistory>${MAXDAY}</maxHistory>-->
        <!--</rollingPolicy>-->
        <!--<encoder>-->
            <!--<pattern>${SERVICE_OUTPUT_PATTERN}</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <logger name="com.youzan.trade" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="BUSINESS"/>
    </logger>


    <appender name="SQL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/sql.log</File>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_PATH}/sql-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${MAXDAY}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FW_OUTPUT_PATTERN}</pattern>
        </encoder>
    </appender>


    <appender name="ROOT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/root.log</File>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_PATH}/root-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${MAXDAY}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FW_OUTPUT_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ERROR_MONITOR"
              class="com.youzan.hawk.collect.log.YouzanExceptionMonitorAppender">
        <app>${application.name}</app>
        <url>${application.exception.upload.url}</url>
    </appender>

<!--
    <logger name="com.youzan">
        <level value="INFO"/>
        <appender-ref ref="BUSINESS"/>
    </logger>
-->

    <logger name="druid.sql.Statement" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="SQL"/>
    </logger>

    <!--<logger name="com.youzan.platform.bootstrap.rest.extension.RestExceptionHandler"-->
    <logger name="com.youzan.platform.bootstrap.rest.extension.ResponseHandler"
            additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="ERROR_MONITOR"/>
        <appender-ref ref="BUSINESS"/>
    </logger>

    <root level="${trade.log.level}">
        <appender-ref ref="ROOT"/>
    </root>

    <appender name="trackError" class="com.youzan.track.appender.TrackAppender">
       <app>${application.name}</app>
       <type>normal logs</type>
       <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - %msg%n</pattern>
    </appender>
</configuration>
