<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd  HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="BUSINESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>trade.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>trade-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}  %-5level %logger{15} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.youzan.trade.timeout.dal" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="BUSINESS"/>
    </logger>

    <logger name="com.youzan.trade" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="BUSINESS"/>
    </logger>

    <logger name="com.youzan.nsq.client" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="BUSINESS"/>
    </logger>
    <root>
        <level value="INFO"/>
        <appender-ref ref="consoleAppender"/>
    </root>

</configuration>
