<configuration scan="true" scanPeriod=" 5 seconds" debug="false">
    <jmxConfigurator/>

    <property name="LOG_PATH" value="./logs"/>
    <property name="APP_NAME" value="timeout-center" />

    <!--业务日志输出格式-->
    <property name="BUSINESS_OUTPUT_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{15} - %msg%n" />

    <!--框架日志输出格式-->
    <property name="FW_OUTPUT_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - %msg%n" />

    <!--TRACK日志输出格式-->
    <property name="TRACK_OUTPUT_PATTERN"
              value="%X{TRACE_ID} %X{ORDER_NO} %logger{15} - %msg%n" />

    <!--日志文件保留最大天数-->
    <property name="MAXDAY" value="10"/>

    <!--日志文件滚动阈值-->
    <property name="MAXSIZE" value="100MB"/>

    <!-- ************* appender配置 ****************** -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${FW_OUTPUT_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="BUSINESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/timeout-center.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_PATH}/timeout-center-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>${MAXSIZE}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${MAXDAY}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${BUSINESS_OUTPUT_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="SQL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/sql.log</File>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_PATH}/sql-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${MAXDAY}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FW_OUTPUT_PATTERN}</pattern>
        </encoder>
    </appender>


    <appender name="ROOT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/root.log</File>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_PATH}/root-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${MAXDAY}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FW_OUTPUT_PATTERN}</pattern>
        </encoder>
    </appender>



    <!--上传日志到日志平台-->
    <appender name="ERROR_ALARM" class="com.youzan.track.appender.TrackAppender">
        <Filter class="com.youzan.trade.common.logging.ErrLogFilter"/>
        <app>timeout</app> <!--timeout_center-->
        <type>trade-soa</type>
        <pattern>${TRACK_OUTPUT_PATTERN}</pattern>
        <host>192.168.66.204</host>
    </appender>

    <!--For test-->
    <appender name="BUSINESS_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/timeout-center-err.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_PATH}/timeout-center-err-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>${MAXSIZE}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${MAXDAY}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${BUSINESS_OUTPUT_PATTERN}</pattern>
        </encoder>
    </appender>
    <!--For test-->

    <!-- ************* logger配置 ****************** -->

    <logger name="com.youzan.trade" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="BUSINESS"/>
        <appender-ref ref="ERROR_ALARM"/>
    </logger>

    <logger name="druid.sql.Statement" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="SQL"/>
    </logger>

    <!--<logger name="com.youzan.platform.bootstrap.rest.extension.RestExceptionHandler"-->
    <logger name="com.youzan.platform.bootstrap.rest.extension.ResponseHandler"
            additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="BUSINESS"/>
        <appender-ref ref="ERROR_ALARM"/>
    </logger>

    <root level="${trade.log.level}">
        <appender-ref ref="ROOT"/>
    </root>

</configuration>
